---
import moment from "moment";

import ContentLayout from "@/layouts/ContentLayout.astro";
import { Clock, Clock5 } from "lucide-react";
import Badge from "@/components/Badge.astro";
import * as post from "@/content/pages/index.md";
---

<ContentLayout title="Maze | 0x15BA88FF" cssclasses={post.frontmatter.cssclasses}>
    <div>
        <h1 class="mb-4 text-2xl md:text-4xl font-bold">{post.frontmatter.title}</h1>
        <p class="mt-4">{post.frontmatter.description}</p>
    </div>
    <div class="min-w-full w-full my-8 prose">
        <post.Content />
    </div>
</ContentLayout>
