---
import { Rss } from "lucide-react";

const year = new Date().getFullYear();
---

<footer class="flex flex-col gap-4">
    <hr class="my-4 border-surface-500"/>
    <div class="flex flex-col gap-4 p-4">
        <p>Copyright &copy; {year}</p>
        <div class="flex flex-wrap gap-4 text-primary-400 hover:text-primary-500">
            <a href="https://github.com/0x15BA88FF">Github</a>
            <a href="https://x.com/0x15BA88FF">Twitter</a>
            <a href="https://discord.gg/g5MXQApC">Discord</a>
            <div class="flex-grow" />
        </div>
        <a href="/logs/rss.xml" target="_blank" rel="noopener noreferrer" class="text-primary-400 hover:text-primary-500"><Rss /></a>
    </div>
</footer>
