---
import { getCollection, getEntryBySlug } from "astro:content";

import Outline from "@/components/Outline.jsx";

const { slug } = Astro.params;
const post = await getEntryBySlug("posts", slug);
const { headings } = await post.render();
---

<div id="sidebar-backdrop" class="fixed top-0 left-0 z-20 w-screen h-screen bg-surface-900 opacity-90 backdrop-blur transition-all duration-500 lg:opacity-0 lg:pointer-events-none animate-fade-out" />

<div id="sidebar" class="fixed lg:sticky top-0 z-30 h-screen w-80 max-w-[90%] lg:w-0 p-2 overflow-x-hidden transition-all duration-500 animate-offscreen-left">
    <div class="w-full h-full bg-surface-800 p-4 rounded">
        <Outline headings={headings} client:visible />
    </div>
</div>
